<form novalidate name="frmResevationDetail">
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Detalle de reserva</h6>
                    <div class="form-group row mb-3">
                        <label for="txtReservationGroupId" class="col-sm-3 col-form-label">Horario Recurrente</label>
                        <div class="col-sm-9">
                            <button class="btn btn-outline-primary btn-icon calendar" type="button"
                                (click)="openScheduleModel(scheduleModal)">
                                <i data-feather="calendar" appFeatherIcon></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col col-sm-6">
                            <label for="selBeginDate" class="col-sm-12 col-form-label">Fecha de inicio:</label>
                            <div class="col-sm-12" >
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="selBeginDate"
                                        [(ngModel)]=reservation.beginDate ngbDatepicker #d="ngbDatepicker" [disabled]="isScheduledReservation"/>
                                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                        type="button" [disabled]="isScheduledReservation"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <label for="selEndDate" class="col-sm-12 col-form-label">Fecha de fin:</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="selEndDate"
                                        [(ngModel)]=reservation.endDate ngbDatepicker #c="ngbDatepicker" [disabled]="isScheduledReservation"/>
                                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="c.toggle()"
                                        type="button" [disabled]="isScheduledReservation"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col col-sm-6">
                            <label for="selBeginTime" class="col-sm-12 col-form-label">Hora de inicio:</label>
                            <div class="col-sm-9">
                                <ngb-timepicker id="selBeginTime" [(ngModel)]=reservation.startDateTime
                                    name="selBeginTime" [disabled]="isScheduledReservation"></ngb-timepicker>
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <label for="selEndTime" class="col-sm-12 col-form-label">Hora de fin:</label>
                            <div class="col-sm-9">
                                <ngb-timepicker id="selEndTime" [(ngModel)]=reservation.endDateTime
                                    name="selEndTime" [disabled]="isScheduledReservation"></ngb-timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtMotive" class="col-sm-3 col-form-label">Motivo:
                            <span class="text-danger form-check-inline" *ngIf="txtMotive?.errors?.required"> *</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtMotive" autocomplete="off"
                                placeholder="Motivo" name="txtMotive" [(ngModel)]=reservation.motive
                                #txtMotive="ngModel" maxlength="30">
                        </div>
                    </div>
                    <!--<div class="form-group row mb-3">
                        <label for="selApprovalState" class="col-sm-3 col-form-label">Estado:</label>
                        <div class="col-sm-9">
                            <ng-select [items]="approvalStatus" id="selApprovalState" name="selApprovalState"
                                bindLabel="value" bindValue="key" placeholder="type to search"
                                [(ngModel)]=this.selectedState>
                            </ng-select>
                        </div>
                    </div>-->
                    <div class="form-group row mb-3">
                        <label for="txtNotes" class="col-sm-3 col-form-label">Notas:
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtNotes" autocomplete="off" placeholder="Notas"
                                name="txtNotes" [(ngModel)]=reservation.notes #txtNotesReq="ngModel" maxlength="120">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="selResource" class="col-sm-3 col-form-label">Recursos:</label>
                        <div class="col-sm-9">
                            <ng-select [items]="resources" name="selResources" [multiple]=true bindLabel="name"
                                bindValue="resourceUuid" [hideSelected]="true" [(ngModel)]="selectedResources">

                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                    <span class="ng-value-label">{{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>

                        <!--<div class="mt-2">
                          <p class="text-muted">Selected items:</p>
                          <ul>
                            <li *ngFor="let item of selectedResources">{{item}}</li>
                          </ul>
                        </div>-->

                    </div>
                    <button class="btn btn-primary mr-2  me-2 float-left" (click)="saveOrUpdate()">{{ isUpdate ?
                        "Actualizar" : "Crear" }}</button>
                    <button class="btn btn-secondary mr-2 me-2 float-right" [hidden]="!isUpdate"
                        (click)="showDeleteConfirmation()">Eliminar</button>
                    <button class="btn btn-light mr-2  me-2" (click)="navigateToCalendar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <ng-template #scheduleModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Horario Recursivo</h5>
            <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row grid-margin">
                <div class="col-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-group row mb-3">
                                                    <div class="btn-group btn-group-toggle" ngbRadioGroup
                                                        name="radioBasic" [(ngModel)]="selectedDay" required>
                                                        <label ngbButtonLabel class="btn-outline-primary">
                                                            <input ngbButton type="radio" class="btn-check"
                                                                [value]=1>Lunes
                                                        </label>
                                                        <label ngbButtonLabel class="btn-outline-primary">
                                                            <input ngbButton type="radio" class="btn-check"
                                                                [value]=2>Martes
                                                        </label>
                                                        <label ngbButtonLabel class="btn-outline-primary">
                                                            <input ngbButton type="radio" class="btn-check"
                                                                [value]=3>Miércoles
                                                        </label>
                                                        <label ngbButtonLabel class="btn-outline-primary">
                                                            <input ngbButton type="radio" class="btn-check"
                                                                [value]=4>Jueves
                                                        </label>
                                                        <label ngbButtonLabel class="btn-outline-primary">
                                                            <input ngbButton type="radio" class="btn-check"
                                                                [value]=5>Viernes
                                                        </label>

                                                        <label ngbButtonLabel class="btn-outline-primary">
                                                            <input ngbButton type="radio" class="btn-check"
                                                                [value]=6>Sábado
                                                        </label>

                                                        <label ngbButtonLabel class="btn-outline-primary">
                                                            <input ngbButton type="radio" class="btn-check"
                                                                [value]=7>Domingo
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <div class="form-group row mb-3">
                                                        <div class="col col-sm-6">
                                                            <label for="selScheduleBeginDate"
                                                                class="col-sm-12 col-form-label">Fecha de
                                                                inicio:</label>
                                                            <div class="col-sm-12">
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                                                        name="selScheduleBeginDate"
                                                                        [(ngModel)]=reservation.beginDate ngbDatepicker
                                                                        #a="ngbDatepicker" />
                                                                    <button
                                                                        class="btn btn-outline-secondary bi bi-calendar3"
                                                                        (click)="a.toggle()" type="button"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-sm-6">
                                                            <label for="selScheduleEndDate"
                                                                class="col-sm-12 col-form-label">Fecha de
                                                                fin:</label>
                                                            <div class="col-sm-12">
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                                                        name="selScheduleEndDate"
                                                                        [(ngModel)]=reservation.endDate ngbDatepicker
                                                                        #b="ngbDatepicker" />
                                                                    <button
                                                                        class="btn btn-outline-secondary bi bi-calendar3"
                                                                        (click)="b.toggle()" type="button"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <div class="col col-sm-6">
                                                            <label for="selScheduleBeginTime"
                                                                class="col-sm-12 col-form-label">Hora de
                                                                inicio:</label>
                                                            <div class="col-sm-9">
                                                                <ngb-timepicker id="selScheduleBeginTime"
                                                                    [(ngModel)]=reservation.startDateTime
                                                                    name="selBeginTime"></ngb-timepicker>
                                                            </div>
                                                        </div>
                                                        <div class="col col-sm-6">
                                                            <label for="selScheduleEndTime"
                                                                class="col-sm-12 col-form-label">Hora de
                                                                fin:</label>
                                                            <div class="col-sm-9">
                                                                <ngb-timepicker id="selScheduleEndTime"
                                                                    [(ngModel)]=reservation.endDateTime
                                                                    name="selEndTime"></ngb-timepicker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <div class="col col-sm-6">
                                                            <button type="button" class="btn btn-primary"
                                                                (click)="addNewSchedule()">Agregar Horario</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                                    <div>
                                        <h4 class="mb-3 mb-md-0">Horarios seleccionados</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="scheduleDataTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Día de la semana</th>
                                            <th>Hora de inicio</th>
                                            <th>Hora de fin</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="saveSchedules()">Guardar cambios</button>
        </div>
    </ng-template>
    <!-- Close result -->
</form>