<div class="row grid-margin">
    <div class="col-12 stretch-card">
        <div class="card">
           <div class="card-body">
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                        <div>
                          <h4 class="mb-3 mb-md-0">Gestión de usuarios</h4>
                        </div>
                        <div class="d-flex align-items-center flex-wrap text-nowrap">
                          <button type="button" (click)="newUser()" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                            <i class="btn-icon-prepend" data-feather="plus" appFeatherIcon></i>
                            Nuevo usuario
                          </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="usersDataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Unidad Académica</th>
                            <th>Teléfono</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>