<div class="row grid-margin">
    <div class="row">
        <app-room-availability-period (objectEmitter)="handleObject($event)"></app-room-availability-period>
    </div>
    <div class="row">
        <hr>
            <button type="button" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="saveAvailabilityPeriod()">Agregar Periodo</button>
        <hr>
    </div>  
    <div class="row">
        <div class="table-responsive">
            <table id="AvailabilityPeriodDataTable" class="table table-hover">
                <thead>
                <tr>
                    <th>Día de la Semana</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>