<form novalidate name="frmNewUser">
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Datos del Recurso</h6>
                    <div class="form-group row mb-3">                            
                        <label for="txtName" class="col-sm-3 col-form-label">Nombre:
                            <span class="text-danger form-check-inline" *ngIf="txtNameReq?.errors?.required"> *</span>
                        </label>
                            <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtName" placeholder="Nombre" name="txtId"
                            [(ngModel)]="resource.name" #txtNameReq="ngModel" required maxlength="120" minlength="50">
                        </div>
                    </div>
                    
                    <div class="form-group row mb-3">                            
                        <label for="txtDescription" class="col-sm-3 col-form-label">Descripción:
                            <span class="text-danger form-check-inline" *ngIf="txtDescriptionReq?.errors?.required"> *</span>
                        </label>
                        <div class="col-sm-9">
                        <textarea class="form-control" id="txtDescription" autocomplete="off" placeholder="Descripción" name="txtDescription"
                                [(ngModel)]="resource.description" #txtDescriptionReq="ngModel" required maxlength="250"></textarea>
                        </div>
                    </div>

    
                        <button class="btn btn-primary mr-2  me-2 float-left" [disabled]="txtNameReq?.errors?.required || txtDescriptionReq?.errors?.required"
                                (click)="saveOrUpdate()">{{ isUpdate ? "Actualizar" : "Crear" }}</button>
                        <button class="btn btn-secondary mr-2 me-2 float-right" [hidden]="!isUpdate" (click)="showDeleteConfirmation()">Eliminar</button>
                        <button class="btn btn-light mr-2  me-2" (click)="navigateToList()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>

