<div class="row grid-margin">
    <div class="row">
        <app-room-availability [roomAvailabilityId]="roomAvailabilityId" #roomAvailability></app-room-availability>
    </div>
    <div class="row">
        <hr>
            <button type="button" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="saveRoomAvailability()">Agregar Periodo</button>
        <hr>
    </div>  
    <div class="row">
        <div class="table-responsive">
            <table id="roomAvailabilityDataTable" class="table table-hover">
                <thead>
                <tr>
                    <th>Tiempo Mínimo de Reserva</th>
                    <th>Tiempo Máximo de Reserva</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>